<div class="card text-center bg-dark">
  <div class="card-header" id="footer">
    Contactanos: <a href="mailto:galeriasmx.chihuahua@gmail.com"id="footer" >galeriasmx.chihuahua@gmail.com</a>
  </div>
  <div class="card-body">
    <h5 class="card-title" id="footer">Pintores favoritos</h5>
    <p class="card-text" id="footer">{{autor}}</p>
  </div>
  <div class="card-footer text-muted" id="footer">
    © Copyright 2020 - {{year}} {{autor}}
  </div>
</div>

</body>
</html>