{{> header}}
{{> navbar}}
<p id="titulo">John Singer</p>

 <p id="Bio">[Pinturas Favoritas]</p>

    <img src="images/p3c1.jpg" id="p3c1">
    <p id="contenidoPin">Madame Gautreau Drinking a Toast<br>
        John Singer Sargent<br>
        1882 - 1883</p>

    <img src="images/p3c2.jpg" id="p3c2">
    <p id="contenidoPin">Mrs. Cecil Wade<br>
        John Singer Sargent<br>
        1886</p>

    <img src="images/p3c4.jpg" id="p3c4">
    <p id="contenidoPin">Rio di Santa Maria Formosa, Venice<br>
        John Singer Sargent <br>
        1905</p>

    <img src="images/p3c3.jpg" id="p3c3">
    <p id="contenidoPin">Charles Stewart, Sixth Marquess of Londonderry, 
        <br>Carrying the Great Sword of State at <br>the Coronation 
        of King Edward VII, August, <br>1902, and Mr. W. C. 
        Beaumont, His Page <br>on That Occasion<br>
        John Singer Sargent<br> 
        1904</p>
    
    <img src="images/p3c5.jpg" id="p3c5">
    <p id="contenidoPin">Portrait of Daisy Leiter, Kenwood House<br>
        John Singer Sargent<br>
        1898</p>

{{> footer}}