{{> header}}
{{> navbar}}
<p id="titulo">Rembrandt Harmenszoon</p>

<p id="Bio">[Pinturas Favoritas]</p>

    <img src="images/p1c1.jpg" id="p1c1">
    <p id="contenidoPin">A Young Scholar and his Tutor<br>
        Workshop of Rembrandt Harmensz. van Rijn about 1629 - 1630<br>
        From the collection of The J. Paul Getty Museum</p>

    <img src="images/p1c2.jpg" id="p1c2">
    <p id="contenidoPin">The Concord of the State<br>
        Rembrandt van Rijn 1637 - 1645<br>
        From the collection of Museum Boijmans Van Beuningen</p>

    <img src="images/p1c3.jpg" id="p1c3">
    <p id="contenidoPin">The Betrothal<br>
        Rembrandt (circle of) About 1640<br>
        From the collection of Walker Art Gallery, Liverpool</p>
        

    <img src="images/p1c4.jpg" id="p1c4">
    <p id="contenidoPin">A painter in his studio<br>
        Rembrandt Harmensz van Rijn (Anonymous pupil of) 1600 - 1700<br>
        From the collection of The Kremer Collection</p>

    <img src="images/p1c5.jpg" id="p1c5">
    <p id="contenidoPin">The baptism of the eunuch (Copia de una pintura perdida)<br>
        Rembrandt Harmensz van Rijn 1631 - 1631<br>
        From the collection of The Kremer Collection</p>
{{> footer}}