{{> header}}
{{> navbar}}
<p id="titulo">Juan Gris</p>

  <p id="Bio">[Pinturas Favoritas]</p>

    <img src="images/p4c1.jpg" id="p4c1">
    <p id="contenidoPin">The Bottle of Anís del Mono<br>
        Juan Gris<br>
        1914</p>

    <img src="images/p4c2.png" id="p4c2">
    <p id="contenidoPin">Coffee Grinder and Glass<br>
        Juan Gris<br>
        1915</p>

    <img src="images/p4c5.jpg" id="p4c5">
    <p id="contenidoPin">Damier et cartes à jouer (Checkerboard and playing cards)<br>
        Juan Gris<br>
        1915</p>

    <img src="images/p4c4.jpg" id="p4c4">
    <p id="contenidoPin">Mujer sentada<br>
        Juan Gris<br>
        1917</p>
    
   
    <img src="images/p4c3.jpg" id="p4c3">
    <p id="contenidoPin">Man and Woman on Bench<br>
        Juan Gris<br>
        1908 - 1909</p>
{{> footer}}