{{> header}}
{{> navbar}}
<p id="titulo">Raffaello Sanzio</p>

<p id="Bio">[Pinturas Favoritas]</p>

    <img src="images/p2c1.jpg" id="p2c1">
    <p id="contenidoPin">
        Portrait of Pope Leo X withCardinals Giulio de' Medici andLuigi de' Rossi<br>
        Rafael Sanzio<br>
        1518</p>

    <img src="images/p2c2.jpg" id="p2c2">
    <p id="contenidoPin">
        Massacre of the Innocents<br>
        Rafael Sanzio, Marcantonio Raimondi<br>
        1511
    </p>

    <img src="images/p2c3.jpg" id="p2c3">
    <p id="contenidoPin">
        The Sistine Madonna<br>
        Rafael Sanzio<br>
        1512 - 1513
    </p>
    
    <img src="images/p2c4.jpg" id="p2c4">
    <p id="contenidoPin">
        Self-Portrait with a Friend<br>
        Rafael Sanzio<br>
        1518 - 1519
    </p>

    <img src="images/p2c5.jpg" id="p2c5">
    <p id="contenidoPin">
        A statue of Apollo, naked standing in a niche, holding a lyre in <br>
        his left hand and leaning on a tree trunk<br>
        Rafael Sanzio, Marcantonio Raimondi<br>
        1512</p>
{{> footer}}